@import 'tailwindcss';

:root {
    --background: hsl(210, 40%, 98%);
    --foreground: hsl(0, 0%, 9%);
    --vt-green: hsl(142, 50%, 30%);
    --link: hsl(30, 40%, 30%);
    --link-hover: hsl(30, 40%, 45%);
    --bg: hsl(210, 40%, 98%);
    --primary-foreground: hsl(222, 47%, 11%);
    --secondary-foreground: hsl(215, 20%, 40%);
    --muted: hsl(215, 16%, 47%);
    --heading: hsl(222, 47%, 5%);
    --border-footer: hsl(215, 20%, 90%);
    --surface: hsl(0, 0%, 100%);
    --shadow: hsla(0, 0%, 0%, 0.08);
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-vt-green: var(--vt-green);
    --color-link: var(--link);
    --color-link-hover: var(--link-hover);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-heading: var(--heading);
    --color-border-footer: var(--border-footer);
    --color-surface: var(--surface);
    --color-shadow: var(--shadow);
    --font-sans: var(--font-urbanist-sans);
}

/* @media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
} */

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-urbanist-sans), Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @apply mb-4 text-[--heading];
}

h1 {
    @apply text-5xl font-bold;
}

h2 {
    @apply text-[2rem] font-bold;
}

h3 {
    @apply text-xl font-medium;
}

p {
    @apply mb-2 text-lg text-secondary-foreground;
}

a {
    @apply text-link no-underline transition-colors duration-200 ease-in-out hover:cursor-pointer hover:text-link-hover;
}

ul,
ol {
    @apply mb-1;
}

ul {
    @apply list-disc;
}

@layer components {
    /* Symmetrical side fade overlay too complicated for TW */
    #hero::after {
        background-image:
            linear-gradient(hsl(0 0% 0% / 0.2) 0 0),
            linear-gradient(
                to right,
                hsla(210, 40%, 98%, 0.3) 0%,
                transparent calc((100vw - 60rem) / 2),
                transparent calc(100% - (100vw - 60rem) / 2),
                hsla(210, 40%, 98%, 0.3) 100%
            );
    }
}
